.search-box{
    -fx-background-color: #FFFFFF ;
    -fx-background-radius: 100px;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.searhc-button{
    -fx-background-color: #00008b;
    -fx-background-radius: 30px;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.chosen-event-card{
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);}


.partciper-btn{
    -fx-background-color: #00008b;
    -fx-background-radius: 100px;
}


.upcoming-event{
    -fx-background-color: linear-gradient(to right, #000248, #004e92);
    -fx-background-radius: 35px;
}


.chosen-event{
    -fx-background-color: linear-gradient(to right, #302b63, #00008b);
    -fx-background-radius: 30px;
}

.side_bar{
    -fx-background-color: #00008b;
}

.btn_annuler, .btn_don{
    -fx-background-color: #00008b;

}

.preced_btn{
    -fx-background-color: #00008b;
}

.desc {
    -fx-background-color: #f0f0f0; /* Background color */
    -fx-border-color: #bfbfbf; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 3px; /* Border radius */

}

.desc:hover {
    -fx-border-color: #666; /* Border color on hover */
}

.desc:focused {
    -fx-border-color: #007bff; /* Border color when focused */
}

.scrollpane {
    -fx-background-color: #f0f0f0; /* Background color */
    -fx-border-color: #bfbfbf; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Border radius */
}

.scrollpane .viewport {
    -fx-background-color: transparent; /* Transparent background for viewport */
}

.scrollpane .scroll-bar {
    -fx-background-color: #d9d9d9; /* Scrollbar background color */
    -fx-background-insets: 0, 1, 2; /* Scrollbar background insets */
    -fx-background-radius: 3px; /* Scrollbar background radius */
}

.scrollpane .scroll-bar-thumb {
    -fx-background-color: #a6a6a6; /* Scrollbar thumb color */
    -fx-background-radius: 3px; /* Scrollbar thumb radius */
}

.scrollpane .scroll-bar-thumb:hover {
    -fx-background-color: #8c8c8c; /* Scrollbar thumb color on hover */
}

.scrollpane .scroll-bar-thumb:pressed {
    -fx-background-color: #666; /* Scrollbar thumb color when pressed */
}

/* calendar_styles.css */

/* Calendar Pane */
.calendar-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

/* Navigation Button */
.navigation-button {
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 15px;
}

/* Date Text */
.date-text {
    -fx-fill: #007bff;
    -fx-font-size: 22px;
}

/* Day Text */
.day-text {
    -fx-fill: #000000;
    -fx-font-size: 14px;
}
