/* Sidebar Styles */
.right-bar {
    -fx-background-color: #EEEEEE; /* Match the background color of login container */
}

/* Title Label in Sidebar */
.sidebar-title {
    -fx-font-size: 1.1em; /* Adjust font size */
    -fx-font-weight: normal; /* Remove bold weight */
    -fx-text-fill: #00008b; /* Match text color of login form labels */
}

/* Input Labels */
.input-label {
    -fx-font-size: 1.1em; /* Match font size */
    -fx-font-weight: bold; /* Keep bold weight */
    -fx-text-fill: #00008b; /* Match text color of login form labels */
}

/* Input Fields */
.input-field {
    -fx-background-color: #FFFFFF; /* Match background color of login form input fields */
    -fx-pref-height: 35; /* Match preferred height of login form input fields */
    -fx-font-size: 1.2em; /* Adjust font size */
}

/* Navigation Buttons */
.nav-button, .submit-button, .bouton {
    -fx-background-color:  #00008b; /* Match background color of login form buttons */
    -fx-text-fill: #FFFFFF; /* Match text color of login form buttons */
    -fx-pref-tile-width: 350; /* Match preferred width of login form buttons */
    -fx-pref-height: 30; /* Match preferred height of login form buttons */
    -fx-font-size: 1.2em; /* Adjust font size */
    -fx-cursor: hand; /* Add hand cursor */
}

/* Content Area Styles */
.content-area {
    -fx-spacing: 15px; /* Adjust spacing */
    -fx-background-color: #EEEEEE; /* Match background color of login container */
}

/* Title Label in Content Area */
.content-title {
    -fx-font-size: 1.3em; /* Adjust font size */
    -fx-font-weight: bold; /* Keep bold weight */
    -fx-text-fill: #00008b; /* Match text color of login form labels */
}

/* Content VBox Styles */
.content-vbox {
    -fx-padding: 10px; /* Adjust padding */
    -fx-background-color: #FFFFFF; /* Match background color of login form input fields */
    -fx-border-color: #D3D3D3; /* Match border color of login form input fields */
    -fx-border-width: 1px; /* Match border width of login form input fields */
}
