/* Root Styles */
.root {
    -fx-background-color: #EEEEEE; /* Match background color of .login_container */
}

/* Text Field Styles */
.text-field, .input_field {
    -fx-background-color: #FFFFFF; /* Match background color */
    -fx-pref-height: 35px; /* Match preferred height */
    -fx-font-size: 1.2em; /* Match font size */
    -fx-padding: 5px; /* Match padding */
}

/* Button Styles */
.button, .bouton {
    -fx-background-color:  #00008b; /* Match background color */
    -fx-text-fill: #FFFFFF; /* Match text color */
    -fx-pref-tile-width: 350px; /* Match preferred width */
    -fx-pref-height: 30px; /* Match preferred height */
    -fx-font-size: 1.2em; /* Match font size */
    -fx-padding: 5px 10px; /* Match padding */
    -fx-cursor: hand; /* Add cursor */
}

/* Table View Styles */
.table-view {
    -fx-pref-height: 300px; /* Match preferred height */
}

/* Table Column Styles */
.table-column {
    -fx-alignment: CENTER; /* Match alignment */
}
