/* AnchorPane Styles */
.anchor-pane {
    -fx-background-color: #f0f0f0; /* Match background color */
}

/* TextField Styles */
.text-field {
    -fx-font-size: 14px; /* Set font size */
    -fx-pref-width: 150px; /* Set preferred width */
    -fx-padding: 5px; /* Add padding */
}

/* Button Styles */

/* Button Styles */
.button {
    -fx-font-size: 10px; /* Set font size */
    -fx-padding: 4px 9px; /* Add padding (vertical padding, horizontal padding) */
    -fx-background-color: #00008b; /* Set background color */
    -fx-text-fill: #ffffff; /* Set text color */
}
#hbox_1{
    -fx-background-color: white; /* Set background color to gray */
    -fx-border-radius: 10px; /* Set border radius to make it rounded */
    -fx-padding: 5px; /* Add padding */


}
#searchField{


}

/* ScrollPane Styles */
.scroll-pane {
    -fx-pref-height: 500px; /* Set preferred height */
    -fx-pref-width: 1000px; /* Set preferred width */
}

/* VBox Styles */
.v-box {
    -fx-alignment: center; /* Center align content */
    -fx-spacing: 10px; /* Set spacing between children */
}

/* HBox Styles */
.h-box {
    -fx-spacing: 10px; /* Set spacing between children */
}
